.form-bid {
  width: 327px;
  text-align: center;

  @media (max-width: $tablet-width-max) {
    background-color: $bgcolor-main;
  }


  @media (max-width: $mobile-width-max) {
    width: 100%;
  }
}

.form-bid__text {
  @include reset-indents;
  padding-bottom: 24px;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  color: $bgcolor-main;

  @media (max-width: $tablet-width-max) {
    padding-bottom: 30px;
    font-size: 18px;
    color: $color-main;
  }

  @media (max-width: $mobile-width-max) {
    padding-bottom: 20px;
  }
}

.form-bid__wrap:not(:last-child) {
  padding-bottom: 20px;
}

.form-bid__input {
  @include reset-indents;
  width: 327px;
  padding: 12px 30px 10px;
  font-size: 15px;
  line-height: 24px;
  border: 1px solid #c9ccd4;
  border-radius: 6px;

  @media (max-width: $mobile-width-max) {
    width: 100%;
  }
}

.form-bid__btn {
  width: 327px;
  padding: 15px 48px;
  font-size: 15px;
  line-height: 21px;
  font-weight: 700;
  background-color: $color-accent;
  border: none;
  border-radius: 6px;

  @media (max-width: $mobile-width-max) {
    width: 100%;
    padding-right: 28px;
    padding-left: 28px;
  }
}
