.main-header {
  position: relative;
  background-image: url("../img/bike-desktop.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $tablet-width-max) {
    background: none;
  }
}

.main-header__wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.main-header__logo-wrap {
  display: none;

  @media (max-width: $tablet-width-max) {
    // position: fixed;
    // top: 0;
    // left: 0;
    // z-index: 999;
    // display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-header__logo-background {
  background-color: $bgcolor-main;
}

.main-header__btn {
  @media (max-width: $tablet-width-max) {
    @include reset-indents;
    margin-left: auto;
    // display: block;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
  }
}

.main-header__btn--open {
  @media (max-width: $tablet-width-max) {
    background: url("../img/menu-open.svg") 50% 50% no-repeat;
    background-color: $color-accent;
  }
}

.main-header__btn--close {
  @media (max-width: $tablet-width-max) {
    background: url("../img/menu-close.svg") 50% 50% no-repeat;
  }
}

.main-header__intro-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  padding: 256px 280px 238px;

  @media (max-width: $desktop-width-max-2) {
    margin-bottom: 100px;
    padding: 150px 150px 100px;
  }

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    padding: 0;
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 69px;
  }
}

// .main-header__intro-indents {
//   padding-right: 16px;
//   padding-left: 16px;

//   @media (max-width: $tablet-width-max) {
//     padding-right: 35px;
//     padding-left: 35px;
//   }
// }

.main-header__intro {
  width: 418px;

  @media (max-width: $tablet-width-max) {
    z-index: -1;
    width: 100%;
    margin-top: -51px;
    margin-bottom: 70px;
    // padding-top: 68px;
    // padding-bottom: 80px;
    background: url("../img/bike-tablet.png") 50% 0 no-repeat;
    background-size: cover;
  }

  // @media (max-width: $mobile-width-max) {
  //   width: auto;
  //   padding-bottom: 139px;
  // }
}

.main-header__logo {
  display: block;
}

.main-header__logo--indent {
  padding-bottom: 21px;

  @media (max-width: $tablet-width-max) {
    padding: 21px 22px 0;
  }

  @media (max-width: $mobile-width-max) {
    padding-left: 17px;
  }
}

@media (max-width: $tablet-width-max) {
  .main-header__logo--close {
    display: none;
  }
}

.main-header__title-wrap {
  @media (max-width: $tablet-width-max) {
    padding: 136px 143px 79px;
  }

  @media (max-width: $mobile-width-max) {
    padding: 121px 16px 70px;
  }
}

.main-header__title {
  @include reset-indents;
  padding-bottom: 26px;
  font-size: 46px;
  line-height: 64px;
  font-weight: 700;
  color: $bgcolor-main;

  @media (max-width: $tablet-width-max) {
    padding-bottom: 19px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }
}

.main-header__description {
  @include reset-indents;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);

  @media (max-width: $tablet-width-max) {
    font-size: 18px;
    text-align: center;
  }
}
