.video {
  padding-bottom: 116px;
}

.video__intro {
  padding: 120px 255px 480px;
  background-color: $bgcolor-darkpurplish;

  @media (max-width: $desktop-width-max-2) {
    padding: 100px 260px 200px;
  }

  @media (max-width: $tablet-width-max) {
    padding: 70px 133px 237px;
  }

  @media (max-width: $mobile-width-max) {
    padding: 84px 16px 163px;
  }
}

.video h2 {
  @include reset-indents;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  color: $bgcolor-main;

  @media (max-width: $tablet-width-max) {
    font-size: 24px;
    line-height: 30px;
  }
}

.video p {
  @include reset-indents;
  padding: 0 295px 0;
  font-weight: 300;
  text-align: center;
  color: rgba($bgcolor-main, 0.7);

  @media (max-width: $desktop-width-max-2) {
    padding: 0;
  }

  @media (max-width: $tablet-width-max) {
    padding: 0 40px 0;
  }

  @media (max-width: $mobile-width-max) {
    padding: 0;
  }
}

.video__img {
  position: relative;
  margin-top: -424px;

  @media (max-width: $desktop-width-max-2) {
    margin-top: -160px;
  }

  @media (max-width: $tablet-width-max) {
    margin-top: -197px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: -113px;
  }
}

.video__img img {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-right: 255px;
  padding-left: 255px;

  @media (max-width: $desktop-width-max-2) {
    padding-right: 260px;
    padding-left: 260px;
  }

  @media (max-width: $tablet-width-max) {
    padding-right: 133px;
    padding-left: 133px;
  }

  @media (max-width: $mobile-width-max) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.video__img button {
  @include reset-indents;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65px;
  height: 65px;
  background: url("../img/icon-play.svg") no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  transition-timing-function: linear;

  @media (max-width: $desktop-width-max-2) {
    width: 91px;
    height: 91px;
  }

  @media (max-width: $mobile-width-max) {
    width: 65px;
    height: 65px;
  }
}
