
//-------------------------------INDEX-------------------------------//

body {
  background: url("../img/desktop.jpg") no-repeat 50% 0;
  opacity: 0.2;

  @media (width: $tablet-width) {
    background: url("../img/tablet.jpg") no-repeat 50% 0;
    opacity: 0.2;
  }

  @media (width: $mobile-width) {
    background: url("../img/mobile.jpg") no-repeat 50% 0;
    opacity: 0.2;
  }
}
