$mobile-width: 320px;
$mobile-width-max: 767px;
$tablet-width: 768px;
$tablet-width-max: 1023px;
$desktop-width: 1024px;
$desktop-width-max-2: 1439px;
$desktop-width-max: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$color-main: #000000;
$color-main-accent: #1f1f1f;
$color-accent: #0ad9c6;
$color-darkblue: #48494d;
$color-darkgray: #1f1f1f;
$bgcolor-main: #ffffff;
$bgcolor-accent: #f6f6f6;
